body {
  font-family: 'Righteous', sans-serif;
}

.alert {
  display: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 30%;
  background-color: #ffa479;
  font-size: 25px;
}

.highlighted, .btn.highlighted:focus {
  color: white;
}

#red {
  background-color: #bf4141;
}

#red.highlighted, #red:hover {
  background-color: #fb0000;
}

#green {
  background-color: #3b9c3b;
}

#green.highlighted, #green:hover {
  background-color: #00ff00;
}

#blue {
  background-color: #4d4db5;
}

#blue.highlighted, #blue:hover {
  background-color: #00b8ff;
}

#yellow {
  background-color: #f5f56b;
}

#yellow.highlighted, #yellow:hover {
  background-color: #ffd400;
}

#game .row {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#game .row .btn {
  width: 100%;
  height: 50px;
  margin: 5px;
  font-size: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 15px;
}
